<div style="position: absolute; font-size:55px; top:230px">
<h1 class="" >New Article</h1>
</div>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path,class:"ml-4 rounded-md p-2" %>
