<nav class="flex justify-center space-x-4 text-base ">
  <%= link_to 'Home' , root_path, class:"font-bol px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900" %>

<%= link_to "About Me",home_about_path,class:"font-bol px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 "%>
  
 <%= link_to "Bad day?",home_day_path,class:"font-bol px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900 "%>

</nav>